# Criado por https://www.toptal.com/developers/gitignore/api/csharp,visualstudiocode
# Edite em https://www.toptal.com/developers/gitignore?templates=csharp,visualstudiocode

### CSharp ###
# Veja https://aka.ms/terminal-dotfiles para mais informações
*.swp
*~.nib
localhistory
*.bak
*.tmp
*.mdf
*.ldf
*.ndf

# Arquivos do Visual Studio
*.user
*.aps
*.ncb
*.tlh
*.tlb
*.suo
*.bak.*
*.sln.docstates

# Resultados de compilação
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Arquivos de cache do Visual C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Profiler do Visual Studio
*.psess
*.vsp

# ReSharper é um add-in de codificação .NET
_ReSharper*/
*.[Rr]e[Ss]harper.user

# TeamCity é um add-in de compilação
_TeamCity*

# DotCover é uma ferramenta de cobertura de código
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Pasta de saída do Installshield
[Ee]xpress/

# DocProject é um add-in gerador de documentação
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp

# Diretório Click-Once 
publish/

# Saída da publicação na Web 
*.[Pp]ublish.xml

# Diretório de pacotes NuGet 
## TODO: Se você tiver o NuGet Package Restore habilitado, descomente a próxima linha para excluir todos os pacotes NuGet do seu repositório.
## Veja http://docs.nuget.org/docs/reference/package-restore.
packages/

# Saída da compilação do Windows Azure 
csx/
*.build.csdef

# Diretório de pacotes de aplicativos da Windows Store 
AppPackages/

# Outros 
sql/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore todo o histórico local dos arquivos.
.history/

# Fim de https://www.toptal.com/developers/gitignore/api/csharp,visualstudiocode.
